
/**
Table Of Contents
=======================================
0.0 - General
    0.1 - Base
    0.2 - Control
1.0 - Lobby
2.0 - Console
3.0 - Chat Sidebar
*/

/*=====================================
 * 0.0 - Reset
 ====================================*/

/* 0.1 Base Styles ------------------*/

body{
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
}

/* 0.2 Control Styles ---------------*/

.inactive{
    display : none;
}

/*=====================================
 * 2.0 Lobby
 *===================================*/

header {
    margin: 0 2.5%;
    text-align: right;
}

.banner {
    display: block;
    width: 100%;
    margin: 1em 0 0 0;
}

.auth, 
.play,
.current-games{
    margin: 0 2.5%;
    box-sizing: border-box;
}

.auth form{
    box-sizing: border-box;
    width: 200px;
    margin: 0 auto;
}

.auth label{
    display: block;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 13px;
}

.auth input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
}

.auth button{
    display: block;
    float: right;
}

.current-games{
    width: 100%;
}

.current-games table{
    width: 100%;
}

.current-games th,
.current-games td{
    text-align: left;
}

@media screen and (min-width: 700px){
    .banner {
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
    
    .auth,
    .play {
        float: left;
    }
    
    .auth form{
        margin: 0 10%;
    }
    
    .auth.logged-in{
        float: none;
        clear: both;
        width: auto;
        text-align: right;
    }
    
    .current-games{
        margin: 0 2.5% 0 7.5%;
        padding-left: 200px;
    }
}

/*=====================================
 * 3.0 Console
 *===================================*/

.console {
    position : relative;
    box-sizing : border-box;
    overflow : hidden;
    font-family: monospace;
}

.console.full-height {
    height : 100vh;
}

.console.partial-height {
    height : 95vh;
}

.console.full-width {
    width : 100%;
}

.console.partial-width {}

/*hidden off screen so we can still give it focus*/
.console-keyboard{
    position:absolute;
    left: -5px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.console-cell{
    position : absolute;
    overflow: hidden;
    text-align: center;
}