
/**
Table Of Contents
=======================
0.0 - General
    0.1 - Reset
    0.2 - General
    0.3 - Control
1.0 - Header
2.0 - Main Area
    2.1 - Lobby
    2.2 - Console
3.0 - Chat Sidebar

*/

/* 0.0 - Reset
 =====================
*/

/* 0.1 Reset Styles -----------------*/

/* 0.2 General Styles ---------------*/
body{
    background-color: #000000;
    color: #ffffff;
}

/* 0.3 Control Styles ---------------*/
.inactive{
    display : none;
}

/* 1.0 Header
=========================
*/

header {
    height: 5vh;
    background-color : grey;
}

.brogue-icon {
    height : 4.8vh;
    width : 4.8vh;
}

/* 2.0 Main
=========================
*/

/* 2.1 - Lobby --------------------*/

.banner {
    display: block;
    width: 100%;
}

.auth, 
.play{
    margin: 0 2.5%;
}

.auth form{
    box-sizing: border-box;
    width: 200px;
    margin: 0 auto;
}

.auth label{
    display: block;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 13px;
}

.auth input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
}

.auth button{
    display: block;
    float: right;
}

@media screen and (min-width: 600px){
    .banner {
        width: auto;
        margin: 0 auto;
    }
    
    .auth form{
        margin: 0 10%;
    }
}


/* 2.2 - Console --------------------*/

.console {
    position : relative;
    box-sizing : border-box;
    overflow : hidden;
    font-family: monospace;
}

.console.full-height {
    height : 100vh;
}

.console.partial-height {
    height : 95vh;
}

.console.full-width {
    width : 100%;
}

.console.partial-width {}

.console-cell{
    position : absolute;
    overflow: hidden;
    text-align: center;
}

/* 3.0 Sidebar
=========================
*/