#Project things
## Netbeans
/nbproject

## Node.js
/server/node_modules
/server/db
*.log

# C things
## Object files
*.o
*.ko
*.obj
*.elf

## Precompiled Headers
*.gch
*.pch

## Libraries
*.lib
*.a
*.la
*.lo

## Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

## Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
bin/
